/* CC Labs Stylesheet */

body {
    background: url('/images/bg-std.png') top left repeat-x;
    background-color: #fafafa;
  	color: #333;
  	font: 0.85em/120% "Trebuchet MS", "Lucidia Grande", verdana, arial, sans-serif;
  	padding: 0;
  	margin: 15px;
  	margin-bottom: 0;
}

/* NOTE: These a tags are ripped off from new site design */
a, a:link 
{
    text-decoration: none;
    color: #00b;
}

a:hover 
{
    text-decoration: underline;
}



#box {
    width: 95%;
    margin: 0 auto;
}

#header {
    margin-bottom: 15px;
}

#header img {
    float: left;
    margin-bottom: 20px;
}

#header p.blurb {
    float: right;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 5px;
    border-left: 1px solid #999;
    margin-left: 200px;
}

#innertube {
	clear: both;
	background-color: #fff;
    border: 1px solid #ccc;
    padding: 1% 2% 3% 2%;
}

#content 
{
    background-color: #fff;
    width: 66%;
    margin-left: 3%;
    /* border: 1px solid black; */
    float: left;
}


#content .blurb {
    padding: 20px 0 10px 20px;
    margin: 0;
    /* border: 1px solid black; */
}

#content .blurb p {
 /* width: 66%;*/
}

#content .blurb h3
{
    padding: 0;
    margin: 0;
}

div.blurb {
	border-bottom: 1px solid #999;
    padding: 0;
    margin: 0;
	
}

#content h2 {
  padding: 36px 0 10px 0;
  color: #4a4c4a;
  border-bottom: 5px solid #ABB3AC;
  margin: 0;
}

#content .grey {
  /*background-color: #f2faf7;*/
}

#footer {
  clear: both;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 3px;
  padding-bottom: 20px;
  font-size: 75%;
}

img.dev {
  float: left;
  margin-right: 15px;
  margin-bottom: 30px;
	margin-top: 4px;
}


#sidebar
{
    float: left;
    width: 24%;
    border: 1px dotted #aaa;
    /* background-color: #efefef; */
    padding: 1%;
    margin: 5.3% 0 0 2%;
    color: gray;
}

#sidebar h3
{
    padding-top: 5%;
    margin-top: 0;
}

#spacer
{
    clear: both;
    border: none;
    background-color: none;
    color: none;
    padding: 0;
    margin: 0;
    height: 0;
    width: 0;
}
