#license_selected
{
    border:         1px solid #c2e0cf;
    text-align:     center;
    padding:        3%;
    margin-bottom: 2.7%;
}

textarea#result
{
    width: 100%;
    border: 1px solid #ccc;
    color: gray;
}

a img
{
    border: none;
    text-decoration: none;
}

#more_info
{
    border: 1px solid #eee;
    padding: 1%;

    width: 65%;
}
#more_info table
{
    width: 100%;
}

#more_info .header
{
    width: 35%;
}

#more_info input
{
    width: 100%;
    border: 1px solid #ccc;
}

#required
{
    border: 1px solid #ccc;
    padding: 0.5% 2% 1% 2%;
    margin-bottom: 2.7%;
    /* background: #efefef; */
    background: #eef6e6;
}


#optional
{
    border: 1px solid #eee;
    padding: 0.5% 2% 1% 2%;
    margin-bottom: 1%;
}


.alert
{
    color: red;
}

.cc-button
{
    padding-bottom: 1%;
}

.header
{
}

.note
{
    float: right;
    font-size: 80%;
    padding: 1% 1% 0 0;
    margin: 0;
}

.tooltip
{
    background: white;
    border: 2px solid gray;
    padding: 3px 10px 3px 10px;
    width: 300px;
}

.tooltip .icon
{
    float: left; 
    padding-right: 4%;
    padding-bottom: 20%;
}

.tooltipimage
{
    border: 2px solid gray;
}
